{% extends 'base.html.twig' %}
    {# left column #}
    {% block body %}
        <div class="form-group"></div>
        <h1>Housten we have a problem!</h1>
        <p>{{ errMesg }}</p>
    {% endblock %}

{% block customjs %}

{% endblock %}