{# employees/index.html.twig #}
{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}
{%  block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function(){
            $('#form_department').change(function()
            {
            console.log("submitted");
                    // Call submit() method on <form id='myform'>
                    $('#form_depart_srch').submit();
            });
        });
    </script>
{% endblock %}

{% block title %}Staff Directory{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <h3>Employee List ({{ pagination.getTotalItemCount }})</h3>
        <form>
            <div class="input-group mb-3">
                <input type="text"
                       name="q"
                       class="form-control"
                       value="{{ app.request.query.get('q') }}"
                       placeholder="Search..."
                >
                <div class="input-group-append">
                    <button type="submit"
                            class="btn btn-outline-secondary">
                        <span class="fa fa-search"></span>
                    </button>
                </div>
            </div>
        </form>

        {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'id': 'form_depart_srch'}}) }}
        {{ form_widget(form, {'attr': {'class':'float-right'}}) }}
        {{ form_end(form) }}

        <div class="row">
            <div class="navigation text-center col">
        {{ knp_pagination_render(pagination) }}
            </div>
        </div>
        {#{% if employee %}#}
    {#{% for employee in employees %}#}
        {% for employee in pagination %}
            {{ dump(employee) }}

        {% set full_name = employee.firstname ~ ' ' ~ employee.lastname %}
        <div class="card">
            <div class="row no-gutters">
                <div class="col-auto">
                    <img src="//placehold.it/200" class="img-fluid" alt="">
                </div>
                <div class="col">
                    <div class="card-block px-2">
                        <h4 class="card-title">{{ full_name }}</h4>
                        <h5 class="card-title">{{ employee.department }}</h5>
                        <p class="card-text">{{ employee.profile|length > 150 ? employee.profile|slice(0, 150) ~ '...' : employee.profile }}</p>
                        <a href="/employee/{{ employee.id }}" class="btn btn-primary">Show</a>
                        <a href="{{ path('edit_employee', {'id': employee.id}) }}" class="btn btn-light">Edit</a>
                        <a href="{{ path('new_employee')}}" class="btn btn-success">New</a>
                        <a href="{{ path('employee_delete', {'id': employee.id}) }}" class="btn btn-danger delete-article" data-id="{{ employee.id }}">Delete</a>

                    </div>
                </div>
            </div>
            {#<div class="card-footer w-100 text-muted">#}
                {#{{ employee.department }}#}
            {#</div>#}
        </div>


    {% else %}
        <p>No employees to display</p>
    {#{% endif %}#}
    {% endfor %}
        <div class="row">
            <div class="navigation text-center col">
                {{ knp_pagination_render(pagination) }}
            </div>
        </div>
    </div>
</div>
{% endblock %}
