{% extends 'base.html.twig' %}

{% set full_name = employee.firstname ~ ' ' ~ employee.lastname %}

{% block title %}Staff Details{% endblock %}

{% block body %}
    <h1>{{ full_name }}</h1>
    <h2>{{ employee.department }}</h2>
    <p>{{ employee.profile }}</p>
    <hr>
    <a href="/">Go Back</a>
{% endblock %}