<footer class="mainfooter" role="contentinfo">
    <div class="footer-middle">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Heading 1</h4>
                        <ul class="list-unstyled">
                            <li><a href="#"></a></li>
                            <li><a href="#">Sub Link 1</a></li>
                            <li><a href="#">Sub Link 2</a></li>
                            <li><a href="#">Sub Link 3</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Heading 2</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Sub Link 1</a></li>
                            <li><a href="#">Sub Link 2</a></li>
                            <li><a href="#">Sub Link 3</a></li>
                            <li><a href="#">Sub Link 4</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6">
                    <!--Column1-->
                    <div class="footer-pad">
                        <h4>Heading 3</h4>
                        <ul class="list-unstyled">
                            <li><a href="#">Sub Link 1</a></li>
                            <li><a href="#">Sub Link 2</a></li>
                            <li><a href="#">Sub Link 3</a></li>
                            <li>
                                <a href="#"></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <h4>Follow Us</h4>
                    <ul class="social-network social-circle">
                        <li><a href="https://www.facebook.com/NetValueNZ/" class="icoFacebook" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/netvalue-ltd" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCi-H_GIsUOKD7KwgfW0smJg" class="icoLinkedin" title="Linkedin"><i class="fa fa-youtube-play"></i></a></li>
                        <li><a href="https://www.instagram.com/netvalue.nz/" class="icoLinkedin" title="Linkedin"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 copy">
                    <p class="text-center">&copy; Copyright 2018 - Company Name.  All rights reserved.</p>
                </div>
            </div>


        </div>
    </div>
</footer>